<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.groupa15.mapper.ShopTypeMapper">
    <select id="selectAllShopType" resultType="ShopTypeVo">

        SELECT t.shop_type_id, t.shop_type_name, t.shop_type_image, t.shop_type_marker_icon
        FROM can301.shop_type t

    </select>
</mapper>